@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@if (Request.IsAuthenticated)
{
    var userManager = Context.GetOwinContext().GetUserManager<InzV3.ApplicationUserManager>();
    var currentUser = userManager.FindById(User.Identity.GetUserId());
    string displayName = currentUser != null ? (currentUser.FirstName) : User.Identity.GetUserName();
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <button class="btn btn-primary btn-sm px-5 dropdown-toggle" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Konto
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="accountDropdown" style="min-width: 9.5rem">
                <li class="dropdown-header text-dark fw-bold">Witaj, @displayName!</li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item d-flex align-items-center" href="@Url.Action("ChangePassword", "Manage")">
                        <i class="bi bi-key me-2"></i> Zmień hasło
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    @using (Html.BeginForm("LogOff","Account", FormMethod.Post, new { id = "logoutForm", @class = "m-0" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="dropdown-item" text-danger d-flexalign-items-center">
                            <i class="bi bi-box-arrow-right me-2"></i> Wyloguj
                        </button>
                    }
                </li>
            </ul>
        </li>
    </ul>
                    
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            @Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-sm px-3", id = "loginLink" })
        </li>
    </ul>
}
